@media (max-width:600px){
    html,body{
        overflow-x: hidden;
    }
    .header{
        height: 15vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0em;
        /* position: fixed; */
    }
    .nav-item{
        visibility: hidden;
    }
    .under{
       display: flex;
        flex-direction: row;
        gap: 4vw;
    }
    .list-line{
        list-style: none;
        color: white;
        text-transform: capitalize;
        font-size: 20px;
        padding-top: 1.5em;
    }
    .avaris-pic{
        height: 100px;
        width: 160px;
        margin-left:-2em;
    }
    .btn{
        height: 40px;
        width: 120px;
        border:none;
        background-color:dodgerblue;
        color:white;
        text-transform: uppercase;
        margin-top: 1.6em;
        margin-left: 5em;
    }
    .btn:hover{
        background-color: black ;
        color: white;
    }
    a{
        text-decoration: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      .spn-side{
         visibility: visible;
         margin-left: -11.5em;
         color:black;
         margin-top: .5em;
      }
      .d-block{
        height: 70vh;
        width: 100%;
     }
      .info{
        width: 300px;
        margin-top: -23em;
        margin-left: -4em;
        opacity: 0;
        animation: fade-in 1s forwards;
        animation-delay: 1s;
        transform: translateX(100px);
    
     }
     @keyframes fade-in {
        0% {
          opacity: 0;
          transform: translateX(0px);
        }
        100% {
          opacity: 1;
          transform: translateX(50px);
        }
      }
     .vacation{
        font-size: 40px;
        font-weight: bold;
        text-align: left;
     }
     .book{
        height: 50px;
        width: 150px;
        background-color: black;
        color: white;
        border: none;
        transition: width 0.5s ease-in-out;
    
     }
     .book:hover{
        width: 100%;
    
     }
     .h-para{
        font-size: 25px;
        text-align: left;
     }
     .main{
        background-color: white;
        height: 470px;
        width: 100%;
     }
     .form{
        height: 467px;
        width: 90%;
        margin: 0 auto;
        background-color: white;
        position: relative;
        top: -18%;
        display: flex;
        flex-direction: column;
        gap: 0em;
        box-shadow: 0px 0px 4px gray;
     }
     .arrival, .dep, .guest, .btton{
        height: 100px;
        width: 250px;
        /* background-color: yellow; */
        margin-top: 2em;
     }
     .ad{
        text-transform: uppercase;
      padding-left: 2em;
      font-size: 18px;
     }
     input{
        height: 45px;
        width: 200px;
        margin-left: 2em;
        margin-top: .4em;
     }
     select , option{
        height: 50px;
        width: 200px;
        margin-left: 2em;   
     }
     .check{
      padding: 1.5em;
      margin-top: -2em;
      background-color: black;
      color: white;
      text-transform: uppercase;
      margin-left: 1.5em;
     }
     .check:hover{
     padding: 1em;
     }
     .hotel{
      height: 180vh;
      width: 100%;
      background-color:#edf0f5;
      display: flex;
      flex-direction: column;
      gap: 1em;
   }
   .image, .detail{
      height: 90vh;
      width: auto;
   }
   .image{
      margin-left: .3em;
      display: flex;
      flex-direction: row;
   }
   .feat{
   height: 80vh;
   width: 260px;
   }
   .black{
      height: 80vh;
      width: 100px;
      background-color: black;
   }
   .moment{
      color: white;
      font-weight: bold;
      font-size: 22px;
      line-height: 190%;
      padding-top: 6.2em;
      text-align: center;
   }
   .qality{
      font-weight: bold;
      color: black;
      font-size: 60px;
      text-align: center;
   }
  .info-para{
      color: black;
      font-size: 20px;
     padding-top: 1em;
     padding-left: 1em;
  }
  .services{
   height: 205vh;
   width: 100%;
   background-color:white;
   display: flex;
   flex-direction: column;
   gap: 2em;
}
.top, .bottom{
   height: 40vh;
   width: auto ;
    margin:0 auto;
    gap: 1em;
    display: flex;
    flex-direction: column;
}
.our{
   text-align: center;
   font-weight: bold;
}
.bottom{
   margin-top: 20em;
}
.one{
   height: 200px;
   width: 300px;
   background-color:#edf0f5;
   box-shadow: 0px 0px 4px gray;
   border-radius: 10px;
}
.image-container {
   width: 300px;
   height: 200px;
   overflow: hidden;
   border: 1px solid #ccc;
 }
 .one-img{
   height: 70px;
   width: 70px;
   border: 1px solid black;
   padding: 1em;
   border-radius: 50%;
   background-color: #5e94e6;
   margin:1em 0 0 1em;
 }
 .one-img:hover{
    height: 68px;
    width: 68px;
    padding: .9px;
    cursor: pointer;
 }
 .h-6{
   font-weight: bold ;
   font-size: 20px;
   margin-left: 1em;
 }
 .ser-para{
   font-size: 16px;
   text-align: left;
   margin-left: 1em;
 }
 .rooms{
   height: 120vh;
   width: 100%;
   display: flex;
   flex-direction:column;
   gap: .2em;
   margin-top: 1em;
 }
 .column{
   height: 105vh;
   width: 400px;
   gap: 1em;
   display: flex;
   flex-direction: column;
   margin-left: 1em;
 }
 .img-one{
   height: 300px;
   width: 300px;
   margin-left: 1.5em;
 }
 .img-one:hover {
   position: relative;
   width: 400px;
   height: 300px;
 }

 .imagess {
   display: block;
  height: 300px;
  width: 300px;
 }

 .overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color:black;
   overflow: hidden;
   width: 300px;
   height: 0;
   transition: .5s ease;
   opacity: .4;
 }
 
 .img-one:hover .overlay {
   height: 100%;
 }

 
 .text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
 }
 .super{
   font-size: 30px;
   font-weight: bold;
 }
 .suite{
   height: 290vh;
   width: 100%;
   background-color:white;
 }
 #suite{
   text-align: center;
   padding-top: .5em;
 }
 .qar{
   font-size: 20px;
 }
 .new{
   height: 170vh;
   width: 100%;
   background-color:#edf0f5;
   display: flex;
   flex-direction: column;
   gap: 0em;
 }
 .new-expo{
   height: 170vh;
   width: 100%;
   background-color:#edf0f5;
   display: flex;
   flex-direction: column-reverse;
   gap: 0em;
   margin-top: -7em;
 }
 .pict, .more{
   height: 80vh;
   width:300px;
 }
 .pict, .more{
   margin-left: 2em;
 }
 .bg{
   height: 80vh;
   width:300px;
 }
 .dis{
   font-size: 56px;
   font-weight: bold;
   padding-top: 0em;
 }
.avar{
   text-align: left;
}
.read{
   height: 50px;
   width: 150px;
   background-color: #5e94e6;
   color: white;
   font-size: 20px;
   border: none;
   border-radius: 10px;
   margin-top: 1em;
}
.footer{
   background-color:white;
   height: 130vh;
   width: 100%;
   margin-top:0em;
   display: flex;
   flex-direction: column;
   gap: 1em;
}
.rows{
   height: 180px;
   width: 300px;
   margin-top: 1em;
   margin-left: 2em;
}
.last-pic{
   height: 150px;
   width: 200px;
   margin: -2em 0 0 -2.6em;
}
.u-line{
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 20px;
  padding-top: 2em;
  padding-left: 5em;
  ma
}
li{
   color: black;
   list-style: none;
}
li:hover{
   cursor: pointer;
   text-decoration: underline;
}
.copy-right{
   background-color: black;
   height: 40px;
   text-align: center;
}
#copy-right{
   color: white;
}

.retential{
   height: 100vh;
   width: 100%;
   background-image: url(../assests/beach-house.jpg);
   opacity: .8;
 }
 .coun{
   text-align: center;
   font-size: 50px;
   color: black;
   padding-top: 2em;
 }
 .avail{
   height: 50px;
   width: 200px;
   background-color: black;
   color: white;
   border: none;
    margin-left: 5em;
 }
}
